################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HTTPServer/v15
/HTTPServer/bin/Debug
/HTTPServer/obj/x86/Debug
